.vscode/*
external_assets/uncompressed/
*.zip
*.xpi
node_modules
keys.json
*.crx
python_modules
__pycache__
*.pyc
**/.peru/*
.pnp.*
.yarn

# Ignore the .vscode recommended extensions file
!.vscode/extensions.json
