.volume-hud-custom {
  z-index: 50;
  position: absolute;
  pointer-events: none;
  user-select: none;
  font-size: 46px;
  padding: 10px;
  transition: opacity 0.6s;
  font-weight: 600;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
  color: #eee;
}

.volume-hud-custom.music {
  top: 10px;
  left: 10px;
}

.volume-hud-custom:not(.music) {
  top: 5px;
  right: 5px;
}

.volume-hud-native {
  user-select: none;
  pointer-events: none;
  transition: opacity 0.3s;
  color: #dedddd;
}

.volume-hud-wrapper[type=native] .volume-hud-custom {
  display: none;
}

.volume-hud-wrapper[type=custom] .volume-hud-native-wrapper {
  display: none;
}
