#volume-hud {
  z-index: 50;
  position: absolute;
  pointer-events: none;
  user-select: none;
  font-size: xxx-large;
  padding: 10px;
  transition: opacity 0.6s;
  font-weight: 600;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

#volume-hud.music {
  top: 10px;
  left: 10px;
}

#volume-hud:not(.music) {
  top: 5px;
  right: 5px;
}
