name: Publish

on:
  workflow_dispatch: null

jobs:
  Check:
    uses: ./.github/workflows/check.yml
  Publish:
    needs: [Check]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun ci
      - run: bun b

      - name: Publish to Chrome/Edge/Firefox stores
        uses: PlasmoHQ/bpp@v3.8.0
        with:
          keys: ${{ secrets.BPP_KEYS }}
          edge-notes: 'Submitted using https://github.com/Araxeus/Youtube-Volume-Scroll/blob/main/.github/workflows/publish.yml'
